# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.settings/language.settings.xml

# Output folders
/SAMC21/
/SAMC21-Debug/
/SAMMYC21/
/SAMMYC21-Debug/
/SAME5x/
/SAME5x-Debug/
/Duet3_MB6HC/
/Duet3_MB6XD/
/Duet3_Mini5plus/
/Duet3_MB6XD-Debug/
/Duet3_MB6HC-Debug/
/Duet3_Mini5plus-Debug/
/FeatherM4CAN/
.cproject
/SAMME51/
/DP3EXB/
/DP3EXB-Debug/
.cproject
.settings/org.eclipse.cdt.core.prefs
Duet3Bootloader DP3EXB.launch
Duet3Bootloader FeatherM4CAN.launch
Duet3Bootloader FeatherM4CAN.launch
.cproject
/SAME5x_composite/
